<%= render partial: 'partials/internal_header', locals: { title: @page.title } %>

<div class="cms-content">
  <div class="inner">
    <div class="cms-content-wrapper">
      <%= @page.content %>
    </div>
  </div>
</div>
