<%= render partial: 'partials/internal_header', locals: { title: 'Thank you' } %>

<div class="cms-content">
  <div class="inner">
    <div class="cms-content-wrapper">
      <p>If you would like a FREE no obligation quote then please leave us a message via our contact form or you can</p>
      <p>Call us on: <a href="tel:07774324872"><strong>07774 324872</strong></a></p>
      <p>Email us at: <a href="mailto:info@cousinsroofing.co.uk"><strong>info@cousinsroofing.co.uk</strong></a></p>
    </div>
  </div>
</div>
<div class="grey-arrow"></div>
<div class="contact-form">
  <div class="inner">
    <div class="contact-form-wrapper">
      <h3>Thank you for your message, we will be in contact shortly.</h3>
    </div>
  </div>
</div>
