<h1>New contact request</h1>

<p>
  <b>Name</b><br />
  <%= @contact.name %>
</p>

<p>
  <b>Telephone</b><br />
  <%= @contact.telephone %>
</p>

<p>
  <b>Email</b><br />
  <%= @contact.email %>
</p>

<p>
  <b>Message</b><br />
  <%= @contact.message %>
</p>
